In [30]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Imports

In [34]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [2]:
df = pd.read_csv('data/wine/wine.data', header=None)

In [31]:
df.shape
df.head(2)

(178, 14)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050

2

# Get the distribution of target

In [14]:
(df
 .iloc[:,0]
 .value_counts()
 .to_frame('Count')
 .assign(freq=lambda x: x['Count'] / x['Count'].sum())
 .round(2)
)

   Count  freq
0
2     71  0.40
1     59  0.33
3     48  0.27

second way of doing this

In [22]:
pd.concat([df.iloc[:,0].value_counts(),
           df.iloc[:,0].value_counts(normalize=True)
          ],axis=1).round(2)

   count  proportion
0
2     71        0.40
1     59        0.33
3     48        0.27

In [17]:
X = df.iloc[:,1:]
y = df.iloc[:,0]

In [18]:
X.shape
y.shape

(178, 13)

(178,)

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.3,
                                                    stratify=y,
                                                    random_state=42,
                                                   )

In [26]:
X_train.shape
X_test.shape

(124, 13)

(54, 13)

In [29]:
y_train.value_counts(normalize=True).round(2)
y_test.value_counts(normalize=True).round(2)

0
2    0.40
1    0.33
3    0.27
Name: proportion, dtype: float64

0
2    0.39
1    0.33
3    0.28
Name: proportion, dtype: float64

In [35]:
scaler1 = MinMaxScaler()
X_train_minmax = scaler1.fit_transform(X_train)
X_test_minmax = scaler1.transform(X_test)

In [39]:
X_train.head(3)
pd.DataFrame(X_train_minmax).head(3)

       1     2     3     4    5    6     7     8     9    10    11    12    13
12  13.75  1.73  2.41  16.0   89  2.6  2.76  0.29  1.81  5.6  1.15  2.90  1320
30  13.73  1.50  2.70  22.5  101  3.0  3.25  0.29  2.38  5.7  1.19  2.71  1285
36  13.28  1.64  2.84  15.5  110  2.6  2.68  0.34  1.36  4.6  1.09  2.78   880

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.715789,0.195652,0.564516,0.278351,0.206522,0.558621,0.711765,0.32,0.439873,0.368601,0.544715,0.615094,0.842361
1,0.710526,0.150198,0.720430,0.613402,0.336957,0.696552,0.855882,0.32,0.620253,0.377133,0.577236,0.543396,0.814066
2,0.592105,0.177866,0.795699,0.252577,0.434783,0.558621,0.688235,0.42,0.297468,0.283276,0.495935,0.569811,0.486661