## Coding Exercise #0203

### 1. Descriptive statistics:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [5]:
titanic_path = os.path.join('..','..','Misc','data','titanic_train.csv')

In [4]:
# Go to the directory where the data file is located. 
#os.chdir(r'~~')                # Please, replace the path with your own.

In [6]:
# Read in the data.
df = pd.read_csv(titanic_path, header='infer')

In [7]:
df.shape

(891, 12)

In [8]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### 1.1. Sample statistics:

In [ ]:
# Unbiased mean.
df['height'].mean()

In [ ]:
# Unbiased estimator of the variance.
df['height'].var(ddof=1)

In [ ]:
# Unbiased estimator of the standard deviation.
df['height'].std(ddof=1)

In [ ]:
# Median.
df['height'].median()

In [ ]:
# Minimum.
df['height'].min()

In [ ]:
# Maximum.
df['height'].max()

In [ ]:
# Quantile at alpha = 0.1
df['height'].quantile(0.1)

In [ ]:
# Quantile at alpha = 0.9
df['height'].quantile(0.9)

#### 1.2. Boxplot:

In [ ]:
# The Inter Quartile Range
IQR = df['height'].quantile(0.75)- df['height'].quantile(0.25)
IQR

In [ ]:
# Show a Boxplot for the height.
plt.boxplot(df['height'])
plt.show()

In [ ]:
# Show a Boxplot for the weight.
plt.boxplot(df['weight'])
plt.show()

#### 1.3. Covariance and Correlation:

In [ ]:
# Covariance.
df['height'].cov(df['weight'])

In [ ]:
# Correlation.
df['height'].corr(df['weight'])

In [ ]:
# Calculate the correlation using the covariance.
# We get the same result as above.
df['height'].cov(df['weight'])/(df['height'].std()*df['weight'].std())

#### 1.4. Visualization:

In [ ]:
# Visually inspect the relationship between X and Y.
df.plot.scatter(x='weight',y='height')
plt.show()

In [ ]:
# Visually inspect the relationship between X and Y.
# Distinguish the gender by color.
base=df[df.gender=='M'].plot.scatter(x='height', y='weight',color='blue',marker='o',s=20)
df[df.gender=='F'].plot.scatter(x='height', y='weight',color='red',marker='o',s=20, ax=base)
plt.show()